* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

nav {
  background-color: rgb(4, 4, 9);
  height: 4rem;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  z-index: 9999;
}
nav a {
  text-decoration: none;
  color: inherit;
}

.name {
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
  color: azure;
  text-decoration: none;
}
.right {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  display: flex;
  gap: 1rem;
  text-decoration: none;
}

.right ul {
  list-style-type: none;
}

.right li {
  display: inline;
  margin-right: 40px;
}

.intro {
  background: url("../images/photo-1521587760476-6c12a4b040da.avif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100vw;
  padding-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.el {
  height: 25rem;
  width: 65rem;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border: 1px solid rgba(81, 72, 72, 0.87);
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  text-align: center;
}
.text {
  padding-left: 10px;
  color: rgb(161, 235, 210);
}
.des {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
}

.middle {
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
}
.join {
  height: 25rem;
  width: 30rem;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 150px;

  border: 1px solid rgba(81, 72, 72, 0.87);
  font-family: "Cormorant Upright", serif;
  font-weight: 900;
  font-style: normal;

  font-size: 3rem;
  color: rgb(60, 54, 74);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.login {
  transition: transform 0.3s ease;
  height: 25rem;
  width: 30rem;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 150px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border: 1px solid rgba(81, 72, 72, 0.87);
  font-family: "Cormorant Upright", serif;
  font-weight: 900;
  font-style: normal;

  font-size: 3rem;
  color: rgb(60, 54, 74);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.join:hover {
  transform: translate(-2%, -2%);
}
.login:hover {
  transform: translate(-2%, -2%);
}
.about {
  background-color: #271e1e;
  height: 40vh;
  width: 100vw;
  color: rgb(255, 255, 255);
  padding-left: 40px;
}

.about .head {
  font-size: xx-large;
}

.about .body {
  width: 40vw;
  font-size: x-large;
}

.img {
  background: url(../images/Education.png);
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom {
  display: flex;
  justify-content: space-around;
}

.curved {
  position: relative;
  background: #2c3e50;
  height: 20vh;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  text-align: center;
  color: aliceblue;
}

.span {
  content: "\201F";
  font-weight: bolder;
  font-size: 5rem;
}

.quote {
  font-size: x-large;
  font-family: "Cormorant Upright", serif;
  font-weight: 700;
  font-style: normal;
}
