* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(45deg, rgb(54, 54, 108), rgb(122, 133, 198));
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background: rgba(88, 187, 31, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(19.8px);
  -webkit-backdrop-filter: blur(19.8px);
  border: 1px solid rgba(0, 238, 255, 0.3);
  height: 30rem;
  width: 25rem;
}

nav {
  background-color: rgb(4, 4, 9);
  height: 4rem;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  color: aliceblue;
  z-index: 9999;
}

.name {
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}
.right {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  display: flex;
  gap: 1rem;
}
