* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
}

nav {
  background-color: rgb(4, 4, 9);
  height: 4rem;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  color: aliceblue;
  z-index: 9999;
}

.name {
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}
.right {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  display: flex;
  gap: 1rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(54, 54, 129), rgb(97, 75, 198));
  font-family: Georgia, "Times New Roman", Times, serif;
}

.login {
  background-color: black;
  height: 25rem;
  width: 20rem;
  border-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: xx-large;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.log {
  height: 2rem;
  width: 15rem;
  margin: 0.5rem;
}

button {
  height: 2.5rem;
  width: 7rem;
  border-radius: 9px;
}

button:hover {
  background-color: rgb(137, 137, 135);
}
