* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, rgb(54, 54, 108), rgb(122, 133, 198));
  font-family: Georgia, "Times New Roman", Times, serif;
}

.register {
  height: 40rem;
  width: 20rem;
  background-color: black;
  border-radius: 2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  color: aliceblue;
  text-align: center;
  font-size: xx-large;
  display: block;
}

input {
  height: 2rem;
  width: 12rem;
  margin: 0.5rem;
  border-radius: 7px;
}

button {
  height: 3rem;
  width: 7rem;
  border-radius: 25px;
}

button:hover {
  background-color: #dcc1c1;
}

.value {
  font-size: medium;
  height: 50px;
  width: 150px;
}

#location {
  font-size: medium;
  border: 1px solid rgb(62, 60, 60);
  border-radius: 20px;
  background-color: rgb(61, 36, 115);
  display: inline-block;
  vertical-align: middle;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 90px;
}

.value input {
  height: 30px;
  width: 100px;
}

.space {
  height: 30px;
  width: 100%;
  margin-bottom: 40px;
}

.addBut {
  padding-left: 30px;
}

.addBut button {
  width: 7rem;
  height: 2rem;
}
