<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    <div class="hero">
      <div class="login">
        <form action="/admin/login" method="post">
          Admin Login<br /><br />
          <input
            class="log"
            placeholder="Email"
            type="email"
            name="email"
          /><br />
          <input
            class="log"
            placeholder="Password"
            type="text"
            name="password"
          /><br />
          <button>submit</button>
        </form>
        <div class="if-not">
          Not a member ? <a href="/admin/register">Register</a>
        </div>
      </div>
    </div>
  </body>
</html>
