<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/admin-register.css" />
  </head>
  <body>
    <header>
      <div class="title"><h1>Admin Registration</h1></div>
    </header>
    <div class="hero">
      <div class="register">
        <br />
        Register <br />
        <br />
        <form id="form" action="/admin/register" method="post">
          <input type="email" placeholder="Email" name="email" />
          <input type="number" placeholder="Phone Number" name="phoneNumber" />
          <input type="text" placeholder="Password" name="password" /> <br />
          <div class="address">
            <div class="addBut">
              <div class="space"></div>
              <button type="button" id="location">Add Address</button>
            </div>
            <div class="value">
              <input
                type="text"
                name="country"
                placeholder="country"
                id="country"
                readonly
              />
              <input
                type="text"
                name="state"
                placeholder="state"
                id="state"
                readonly
              />
              <input
                type="text"
                name="city"
                placeholder="city"
                id="city"
                readonly
              />
            </div>
          </div>
        </form>
        <button type="button" id="submit">Register</button>
      </div>
    </div>
    <script src="/javascript/register.js"></script>
  </body>
</html>
