<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&family=Sriracha&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
    </style>
  </head>
  <body>
    <header>
      <nav>
        <div class="name">
          <a href="/">Community Library</a>
        </div>
        <div class="right">
          <ul>
            <li><a href="/" aria-current="page">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="intro">
      <div class="el">
        <div class="text">Discover, Connect, Grow: Your Community Library</div>
        <br />
        <div class="des">
          Where old books find new homes and communities flourish. Our online
          platform provides a space to donate and discover pre-loved books,
          breathing new life into forgotten stories. Instead of discarding old
          books, we offer a sustainable solution that connects readers with a
          treasure trove of literary gems.
        </div>
      </div>
    </div>
    <section class="curved">
      <span class="span">&#8223; </span
      ><span class="quote"
        >The fragrance of flowers spreads only in the direction of the wind. But
        the knowledge of books spreads in all directions. - Chanakya
        (Kautilya)</span
      >
      <span class="span">&#8221; </span>
    </section>
    <div class="middle">
      <div class="join">
        Want to become a member?<br /><br />
        Join Now
      </div>
      <div class="login">
        Already a member?<br />
        <br />Login
      </div>
    </div>
    <div class="about">
      <div class="head">ABOUT US</div>
      <hr />
      <br />
      <div class="bottom">
        <div class="body">
          Our community library app is a digital hub where passion for reading
          meets community engagement. Founded with a mission to promote literacy
          and foster connections within our neighborhood, we provide a diverse
          range of books for borrowing and encourage book donations to enrich
          our collection.
        </div>
        <div class="img"></div>
      </div>
    </div>

    <script src="javascript/home.js"></script>
  </body>
</html>
