<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="name">
          <a href="/">Community Library</a>
        </div>
        <div class="right">
          <ul>
            <li><a href="/" aria-current="page">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="hero">
      <div class="login">
        <form action="/login" method="post">
          Login<br /><br />
          <input
            class="log"
            placeholder="Email"
            type="email"
            name="email"
          /><br />
          <input
            class="log"
            placeholder="Password"
            type="text"
            name="password"
          /><br />
          <button>submit</button>
        </form>
        <div class="if-not">
          Not a member ? <a href="/register">Register</a>
        </div>
      </div>
    </div>
  </body>
</html>
