<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/home.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&family=Sriracha&display=swap");
    </style>
  </head>
  <body>
    <header>
      <nav>
        <div class="name"><a href="">Community Library</a></div>
        <div class="right">
          <ul>
            Home
          </ul>
          <ul>
            Login
          </ul>
          <ul>
            Register
          </ul>
        </div>
      </nav>
    </header>
    <div class="intro">
      <div class="el">
        <div class="text">Discover, Connect, Grow: Your Community Library</div>
        <br />
        <div class="des">
          Where old books find new homes and communities flourish. Our online
          platform provides a space to donate and discover pre-loved books,
          breathing new life into forgotten stories. Instead of discarding old
          books, we offer a sustainable solution that connects readers with a
          treasure trove of literary gems.
        </div>
      </div>
    </div>
    <div class="middle">
      <div class="join">
        Want to become a member?<br />
        Join Now
      </div>
      <div class="login">already a member? <br />Login</div>
    </div>
    <div class="about">
      <div class="head">ABOUT US</div>
      <hr />
      <br />
      <div class="body">
        Our community library app is a digital hub where passion for reading
        meets community engagement. Founded with a mission to promote literacy
        and foster connections within our neighborhood, we provide a diverse
        range of books for borrowing and encourage book donations to enrich our
        collection.
      </div>
    </div>
  </body>
</html>
