<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/listing.css" />
  </head>
  <body>
    <h1>Books available in your area</h1>
    <br /><br />
    <div class="books">
      <ul>
        <% if (foundBook.length > 0) { %> <% foundBook.forEach(function(book) {
        %>
        <li>
          <h2><%= book.bookName %></h2>
          <br />
          <h3>book.publisher</h3>
          <br />
          <h3>book.author</h3>
        </li>
        <% }); %> <% } else { %>
        <li>No books donated</li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
