<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/listings.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="name">
          <a href="/">Community Library</a>
        </div>
        <div class="right">
          <ul>
            <li><a href="/" aria-current="page">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div id="hero">
      <div class="elements">
        <u><h1>Listings in your city</h1></u>

        <h2>Available books</h2>

        <% if (foundBook.length > 0) { %>
        <div class="card-container">
          <% foundBook.forEach(function(book) { %>
          <div class="card">
            <span>
              <h2>BookName: <%= book.bookName %></h2>
              <p>Publisher: <%= book.publisher %></p>
              <p>Author: <%= book.author %></p>
            </span>
          </div>
          <% }); %>
        </div>
        <% } else { %>
        <div class="no-books">No books donated</div>
        <% } %>
      </div>
    </div>
  </body>
</html>
