<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1>books available in your area</h1>
    <ul>
      <% foodDonations.forEach(food => { %>
      <li>
        <h2><%= food.restaurant %></h2>
        <p><%= food.serveSize %></p>
        <p><%= food.foodDescription %></p>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
