<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/stylesheets/login.css" />
  </head>
  <body>
    <div class="login">
      <form action="/login" method="post">
        Login<br /><br />
        <input class="log" placeholder="email" type="text" /><br />
        <input class="log" placeholder="password" type="text" /><br />
        <button>submit</button>
      </form>
    </div>
  </body>
</html>
