<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/register.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="register">
      <br />
      Register <br />
      <br />
      <form action="/register" method="post">
        <input type="text" placeholder="Name" name="Name" />
        <input type="email" placeholder="Email" name="email" />
        <input type="number" placeholder="Phone Number" name="phoneNumber" />
        <input type="text" placeholder="Username" name="Username" />
        <input type="text" placeholder="Password" name="password" /> <br />
        <div id="area"></div>
        <div class="location1">
          <div id="location">Click To Enter Location</div>
        </div>
        <button>Register</button>
      </form>
    </div>
    <script src="javascript/register.js"></script>
  </body>
</html>
