<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/stylesheets/register.css" />
  </head>
  <body>
    <div class="register">
      <br />
      Register <br />
      <br />
      <input type="text" placeholder="Name" />
      <input type="email" placeholder="Email" />
      <input type="number" placeholder="Phone Number" />
      <input type="text" placeholder="Username" />
      <input type="text" placeholder="Password" /> <br />
      <button>register</button>
    </div>
  </body>
</html>
