* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  overflow: scroll;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.title {
  background-color: black;
  color: #ffffff;
  width: 100vw;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout {
  text-align: center;
}

.card {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(19.8px);
  -webkit-backdrop-filter: blur(19.8px);
  border: 1px solid rgba(0, 238, 255, 0.3);
  height: 10rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.outer-card-left,
.outer-card-right {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(19.8px);
  -webkit-backdrop-filter: blur(19.8px);
  border: 1px solid rgba(0, 238, 255, 0.3);
  min-height: 80vh;
  width: 80vw;
  margin: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myModal {
  position: fixed;
  background-color: #000000;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 15rem;
  width: 15rem;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

.modal-content {
  border: 2px solid black;
  height: 15rem;
  width: 15rem;
  background-color: #000000;
  text-align: center;
  border-radius: 25px;
}

.modal-content input {
  height: 2rem;
  width: 12rem;
  border-radius: 5px;
}

button {
  height: 2rem;
  width: 5rem;
  background-color: #e73c7e;
  border-radius: 10px;
}

.close-btn {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.close {
  font-size: xx-large;
  color: #ffffff;
  padding-top: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.city {
  display: none;
}
