* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.hero {
  height: 100vh;
  background: linear-gradient(to bottom, rgb(54, 54, 129), rgb(97, 75, 198));
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

nav {
  background-color: rgb(4, 4, 9);
  height: 4rem;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  z-index: 9999;
}
nav a {
  text-decoration: none;
  color: inherit;
}

.name {
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
  color: azure;
  text-decoration: none;
}
.right {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  display: flex;
  gap: 1rem;
  text-decoration: none;
}

.right ul {
  list-style-type: none;
}

.right li {
  display: inline;
  margin-right: 40px;
}

.donate {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  gap: 10rem;
}

button {
  height: 3rem;
  border-radius: 19px;
  width: 5rem;
}
input {
  margin: 0.3rem;
  border-radius: 7px;
  height: 5rem;
  width: 15rem;
  font-size: xx-large;
}

.glass {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border: 1px solid rgba(81, 72, 72, 0.87);
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 30rem;
  width: 25rem;
  padding: 2rem;
}

.check {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border: 1px solid rgba(81, 72, 72, 0.87);
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 30rem;
  width: 25rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}
.check a {
  text-decoration: none;
  color: inherit;
}
.check:hover {
  transform: translate(-2%, -2%);
}

.disclaimer {
  font-size: small;
}
