* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-family: Georgia, "Times New Roman", Times, serif;
}

nav {
  background-color: rgb(4, 4, 9);
  height: 4rem;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  z-index: 9999;
}
nav a {
  text-decoration: none;
  color: inherit;
}

.name {
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
  color: azure;
  text-decoration: none;
}
.right {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  display: flex;
  gap: 1rem;
  text-decoration: none;
}

.right ul {
  list-style-type: none;
}

.right li {
  display: inline;
  margin-right: 40px;
}

.register {
  height: 40rem;
  width: 20rem;
  background-color: black;
  border-radius: 2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  color: aliceblue;
  text-align: center;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
}

.if-not {
  font-size: small;
  padding-top: 1rem;
}

input {
  height: 2rem;
  width: 12rem;
  margin: 0.5rem;
  border-radius: 7px;
}

button {
  height: 3rem;
  width: 7rem;
  border-radius: 25px;
}

button:hover {
  background-color: #dcc1c1;
}

.value {
  font-size: medium;
  height: 50px;
  width: 150px;
}

#location {
  font-size: medium;
  border: 1px solid rgb(62, 60, 60);
  border-radius: 20px;
  background-color: rgb(228, 155, 103);
  display: inline-block;
  vertical-align: middle;
}

#location:hover {
  background-color: rgb(232, 194, 167);
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 90px;
}

.value input {
  height: 30px;
  width: 100px;
}

.space {
  height: 30px;
  width: 100%;
  margin-bottom: 40px;
}

.addBut {
  padding-left: 30px;
}

.addBut button {
  width: 7rem;
  height: 2rem;
}
